@page "/Account/ForgotPassword"

@layout EmptyLayout

@inject BasePage BasePage

<MudContainer MaxWidth="MaxWidth.Small" Class="mt-16">
    <MudPaper Elevation="3" Class="pa-8">
        <div class="d-flex flex-column align-center">
            <MudIcon Icon="@Icons.Material.Filled.LockReset" Color="Color.Primary" Size="Size.Large" Class="mb-4" />
            <MudText Typo="Typo.h4" Align="Align.Center" Class="mb-2">Forgot Your Password?</MudText>

            <MudText Typo="Typo.subtitle1" Align="Align.Center" Class="mb-6" Color="Color.Secondary">
                Don’t worry. It happens to the best of us.
            </MudText>

            @if (userType == UserType.Normal)
            {
                <MudAlert Severity="Severity.Info" Variant="Variant.Filled" Class="mb-4" Dense="true">
                    As an administrator, please contact our support team to reset your password.
                </MudAlert>

                <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" Class="mb-4"
                           OnClick="@(() => BasePage.NavigationManager.NavigateTo("/contact"))">
                    Contact Support
                </MudButton>
            }
            else
            {
                <MudAlert Severity="Severity.Warning" Variant="Variant.Filled" Class="mb-4" Dense="true">
                    Your password cannot be reset from here. Please reach out to your organization administrator for assistance.
                </MudAlert>

                <MudText Typo="Typo.body2" Align="Align.Center" Color="Color.Secondary" Class="mb-4" Style="max-width: 400px;">
                    They will be able to securely reset your credentials.
                </MudText>
            }

            <MudButton Variant="Variant.Text" Color="Color.Primary" FullWidth="true"
                       OnClick="@(() => BasePage.NavigationManager.NavigateTo("/Account/Login"))">
                Back to Login
            </MudButton>
        </div>
    </MudPaper>

    <MudText Typo="Typo.body2" Align="Align.Center" Color="Color.Secondary" Class="mt-8">
        Still need help? <MudLink Href="/contact" Color="Color.Primary">Contact our support team</MudLink>
    </MudText>
</MudContainer>


@code {
    private UserType userType;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        // userType = await BasePage.SessionService.GetUserTypeAsync();

        StateHasChanged();
    }
}